<div class="d-flex justify-content-between">
  <div class="d-inline-block w-75">
    <a [routerLink]="['/ads/new']" routerLinkActive="router-link-active" class="btn btn-success d-inline-block mr-3">Create New Advert</a>
    <form class="d-inline-block w-75 mb-3">
        <div class="input-group">
          <input type="text" class="form-control w-75 d-inline-block" name="searchQuery" [(ngModel)]="searchQuery" placeholder="search here" (ngModelChange)="queryChange($event)">
          <div class="input-group-append">
            <select class="custom select bg-light" (change)="selectChanged($event)">
              <option [selected]="optionSelected('')" value="">All</option>
                <ng-container *ngIf="categories.length">
                  <option  *ngFor="let cat of categories" [value]="cat.title" [selected]="optionSelected(cat.title)">
                    {{ cat.title }}
                  </option>
              </ng-container>
            </select>
            <button class="btn btn-info px-2 py-1"> <fa-icon [icon]="SeachIcon"> </fa-icon></button>
          </div>
      </div>
    </form>
  </div>
  <div class="d-inline-block">
    <button class="btn  mr-3" [ngClass]="presentationMode == 'list' ? 'btn-info' : 'btn-disactivate'" (click)="switchPresentationMode('list')"> <fa-icon [icon]="ListIcon"></fa-icon> </button>
    <button class="btn  mr-3" [ngClass]="presentationMode == 'blocks' ? 'btn-info' : 'btn-disactivate'" (click)="switchPresentationMode('blocks')"> <fa-icon [icon]="LargeIcon"></fa-icon> </button>
  </div>
</div>

<ng-container *ngIf="advertisements.length">
<table *ngIf="presentationMode == 'list'" class="table table-striped">
  <thead>
      <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Category</th>
          <th>Location</th>
          <th>Date</th>
          <th></th>
      </tr>        
  </thead>
  <tr *ngFor="let ad of advertisements">
      <td><a [routerLink]="['/ads/details/', ad.annoucementId]" routerLinkActive="router-link-active" >{{ ad.title }}</a></td>
      <td>{{ ad.description }}</td>
      <td>{{ ad.price | currency }}</td>
      <td>{{ ad.category.title }}</td>
      <td>{{ ad.user.town.title }}</td>
      <td>{{ ad.createDate | date}}</td>
      <td class="d-flex justify-content-end">
        <a routerLink="/ads/update/{{ ad.annoucementId }}" class="btn btn-warning mr-3"> <fa-icon [icon]="EditIcon"></fa-icon> </a>
        <button class="btn btn-danger" (click)="removeAd(ad.annoucementId)"> <fa-icon [icon]="DeleteIcon"></fa-icon>  </button>
      </td>
  </tr>
</table>


<div *ngIf="presentationMode == 'blocks'" class="card-columns">
  <div *ngFor="let ad of advertisements" class="card col" (click)="goToDetails(ad.annoucementId)" style="cursor: pointer">
    <img [src]="ad.photos.length > 0 ? basePhotoUrl + ad.annoucementId + '/' + ad.photos[0].photoUrl : '/assets/images/random.jpg'" class="card-img-top">
    <div class="card-body">
      <h5 class="card-text">{{ ad.title }}</h5>
      <p class="card-text">{{ ad.description }}</p>
      <h6 class="card-text">{{ ad.price }}</h6>
    </div>
    <div class="card-footer">
      <p class="card-text text-muted"></p>
    </div>
  </div>
</div>
</ng-container>
