<mat-toolbar color="primary">Advertisements</mat-toolbar>
<br>



<app-adtable [displayedColumns]="columns">

</app-adtable>

<!-- <div class="mat-elevation-z8">
  <div>
    <mat-card class="mat-elevation-z0 d-block w-100">
      <mat-form-field class="mr-3 d-inline-block ml-3">
        <mat-label>Filter</mat-label>
        
          <input matInput name="searchQuery"  [formControl]="filter">
        
      </mat-form-field>
      
      <mat-form-field class="d-inline-block"> 
        <mat-label>Category</mat-label>
        <mat-select name="option" [(ngModel)]="optionSelected" (ngModelChange)="queryChanged($event)">
          <mat-option value="">
            All
          </mat-option>
      
            <mat-option  *ngFor="let cat of categories" [value]="cat.title">
              {{ cat.title }}
              
            </mat-option>
            
        </mat-select>
      </mat-form-field>
    </mat-card>

  </div>
  <mat-divider></mat-divider>
  <table mat-table [dataSource]="advertisements" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="title">
      <th mat-sort-header="title" mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> <a class="link" mat-button color="primary" [routerLink]="['/ads/details/', element.id]" routerLinkActive="router-link-active" > {{element.title}}</a> </td>
    </ng-container>


    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>


    <ng-container matColumnDef="price">
      <th mat-sort-header="price" mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
    </ng-container>


    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>
  
    <ng-content select="[town]"></ng-content>

    <ng-container matColumnDef="town">
      <th mat-header-cell *matHeaderCellDef> Town </th>
      <td mat-cell *matCellDef="let element"> {{element.town}} </td>
    </ng-container>



    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
    </ng-container>

    <ng-content select="[manage]"></ng-content>

    <ng-container matColumnDef="manage">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> 
        <a mat-mini-fab color="basic" routerLink="/ads/update/{{ element.id }}" class="btn btn-warning mr-3"> <mat-icon>edit</mat-icon> </a>
        <button mat-mini-fab color="accent" (click)="removeAd(element.id)"> <mat-icon>delete_outline</mat-icon>  </button>  
      </td>
    </ng-container>
    
   


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



  </table>




  <mat-paginator [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageClicked($event)">
  </mat-paginator>
</div> -->

