<mat-card>  
  <mat-card-header class="d-flex justify-content-between" *ngIf="user">
    <mat-card-title class="">
        {{ user.name }}
    </mat-card-title>        
    <mat-chip-list>
      Phone number :  
      <mat-chip color="primary" selected>
        {{ user.phoneNumber }}            
      </mat-chip>              
      
    </mat-chip-list>
  </mat-card-header>

</mat-card>

  <mat-card class="py-2 my-3" style="width: 100%;">
    <mat-form-field appearance="" class="mt-2 d-inline-block align-center" style="width: 100%!important;">
      <textarea matInput class="title-cell" rows="2" [(ngModel)]="newMessage" placeholder="message..."></textarea>
    </mat-form-field>
    <div *ngIf="newMessage">
    
    <button mat-raised-button color="primary"  (click)="sendMessage()" class="d-inline-block align-center"><mat-icon>add</mat-icon> </button>
  
    <button mat-raised-button color="accent" *ngIf="newMessage.length" (click)="cancel()" class="d-inline-block align-center ml-3"> <mat-icon>cancel</mat-icon> </button>
  </div>
  </mat-card>
