<form [formGroup]="advertForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="" id="title" name="title" class="form-control" placeholder="" aria-describedby="helpId" formControlName="title">
    <small id="helpId" class="text-muted">Help text</small>
  </div> 
  <div class="form-group">
    <label for="title">Category</label>

    <select class="custom select bg-light form-control" required (change)="selectChanged($event)" formControlName="categoryId">
      <!-- <option [selected]="optionSelected('')" value="" >Select Category</option> -->
      <option *ngFor="let cat of categories" [value]="cat.categoryId" [selected]="optionSelected(cat.title)">
        {{ cat.title }}
      </option>
    </select>
   
    <small id="helpId" class="text-muted">Help text</small>
  </div> 
  <div class="form-group">
    <label for="title">Price</label>
    <input type="number" name="" id="price" name="price" class="form-control" placeholder="" aria-describedby="helpId" formControlName="price">
    <small id="helpId" class="text-muted">Help text</small>
  </div> 
  <div class="form-group">
    <label for="title">Description</label>
    <textarea class="form-control" formControlName="description" rows=3></textarea>
    <small id="helpId" class="text-muted">Help text</small>
  </div> 
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
     <span class="input-group-text">Upload</span>
    </div>
    
    <div class="custom-file">      
      <input type="file" multiple class="custom-file-input" value="Choose am image" id="inputFile1" (change)="onFileAttach($event)" formControlName="photo">
        <label class="custom-file-label" for="inputFile1" >Choose file</label>
    </div>
  </div>
  <div class="mb-3">
    <div *ngFor="let url of imgUrls" style="width:200px;height:200px;overflow:hidden;" class="d-inline-block">
      <img style="width:100%;height:100%;object-fit: cover"  [src]="url" class="img-thumbnail d-inline-block" >
    </div>
    <!-- <img width="200px" height="150px" [src]="imgUrls[1]" class="img-thumbnail d-inline-block" >
    <img width="200px" height="150px" [src]="imgUrls[2]" class="img-thumbnail d-inline-block" >
    <img width="200px" height="150px" [src]="imgUrls[3]" class="img-thumbnail d-inline-block" >
    <img width="200px" height="150px" [src]="imgUrls[4]" class="img-thumbnail d-inline-block" >
    <img width="200px" height="150px" [src]="imgUrls[5]" class="img-thumbnail d-inline-block" > -->
  </div>
  <input type="submit"  class="btn btn-success d-block">
  
 
</form>