<br>
<form [formGroup]="advertForm" (ngSubmit)="submit()">
  <mat-form-field class="mr-3">
    <mat-label>Title</mat-label>
    <input matInput type="text" id="title" name="title" formControlName="title">    
  </mat-form-field>

  <mat-form-field>
    <mat-select required (change)="selectChanged($event)" formControlName="categoryId">
  
      <ng-container *ngIf="categories.length">
        <mat-option *ngFor="let cat of categories" [value]="cat.categoryId">
          {{ cat.title }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
    



  <mat-form-field *ngIf="selectedCategory?.brands?.length">
  <mat-label for="title">Brand</mat-label>
    <mat-select class="custom select bg-light form-control"  formControlName="brandId">      
        <mat-option *ngFor="let brand of selectedCategory.brands" [value]="brand.brandId">
          {{ brand.title }}
        </mat-option>
    </mat-select>
  </mat-form-field>


  
<mat-form-field>
  
    <mat-label for="title">Price</mat-label>
    <input matInput type="number" name="" id="price" name="price" class="form-control" placeholder="" aria-describedby="helpId" formControlName="price">
  
  </mat-form-field>
  
  <mat-form-field>
    <mat-label for="title">Description</mat-label>
    <textarea matInput class="form-control" formControlName="description" rows=3></textarea>
  </mat-form-field>
  
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
     <span class="input-group-text">Upload</span>
    </div>
    
    <div class="custom-file">      
      
      <input type="file" multiple class="custom-file-input" value="Choose am image" id="inputFile1" (change)="onFileAttach($event)" formControlName="photo">
        <label class="custom-file-label" for="inputFile1" >Choose file</label>
      
    </div>
  </div>
  <div class="mb-3">
    <div *ngFor="let url of imgUrls" style="width:200px;height:200px;overflow:hidden;" class="d-inline-block">
      <img style="width:100%;height:100%;object-fit: cover"  [src]="url" class="img-thumbnail d-inline-block" >
    </div>   
  </div>
  <input mat-button type="submit">
  
 
</form>