<mat-toolbar color="" class="justify-content-between p-4" >
  <mat-list class="d-flex">
    <mat-list-item><a [routerLink]="['/ads']" routerLinkActive="router-link-active">Advertisements </a></mat-list-item>
    <mat-list-item><a routerLink="/categories"><span color="accent">Categories</span></a></mat-list-item>
    <mat-list-item><a routerLink="/towns">Towns</a></mat-list-item>
    <mat-list-item><a routerLink="/brands">Brands</a></mat-list-item>
  </mat-list>
  
  <mat-list class="d-flex">


    <form *ngIf="!isLoggedIn()" #loginForm="ngForm" (ngSubmit)="login()" class="d-flex mr-3 ">

      <mat-form-field class="mr-3">
        <mat-label>Email</mat-label>
        <input matInput type="text" name="email" [(ngModel)]="loginData.email" class="mr-3">
      </mat-form-field>



      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="loginData.password" class="mr-3" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
            
      <div class="d-flex align-items-center ml-3">
        <button mat-raised-button color="accent" type="submit" class="mr-3">Login</button>
        <button mat-raised-button color="warn" class="" [routerLink]="['/auth/register']" routerLinkActive="router-link-active">Register</button>
      </div>

    </form>  

    <div *ngIf="isLoggedIn()" class="mr-3">
      <h4 class="d-inline-block mr-3">Welcome {{ name | titlecase }}</h4>
      <button mat-raised-button color="warn" class="d-inline-block" (click)="logout()">Log Out</button>
    </div>
  </mat-list>
</mat-toolbar>

