<div *ngIf="!hidden" class="row">
  <p class="col-md-10">{{ cat.title }}</p>
  <app-buttonupdate class="p-0 mr-3" (onUpdateClicked)="switch($event)"></app-buttonupdate>
  <button class="btn btn-danger" (click)="delete()"><fa-icon [icon]="DeleteIcon"></fa-icon></button>
</div>

<div *ngIf="hidden">
  <input type="text" name="updateCat"  class="form-control col-md-10 d-inline-block mr-2 "  [value]="cat.title" [(ngModel)]="cat.title">
  <button class="btn btn-success mr-3" (click)="save()"> <fa-icon [icon]="SaveIcon"></fa-icon> </button>
  <button class="btn btn-info" (click)="cancel()"> <fa-icon [icon]="CancelIcon"></fa-icon> </button>
</div>
  
  