
<!-- 
<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageClicked($event)">
</mat-paginator> -->


<br>
<div class="d-flex mb-3">
  <mat-card class="py-2">
    <mat-form-field appearance="outline" class="mat-no-padding pr-3 d-inline-block align-center" style="width:284px;">
      <input matInput type="text" class="title-cell " [(ngModel)]="newEntity.title" placeholder="new entry here...">
    </mat-form-field>
    <button mat-raised-button color="primary"  (click)="createNewEntity()" class="d-inline-block align-center"><mat-icon>add</mat-icon> </button>
  
  <button mat-raised-button color="accent" *ngIf="newEntity.title" (click)="resetNewEntity()" class="d-inline-block align-center ml-3"> <mat-icon>cancel</mat-icon> </button>
  </mat-card>
  </div>
  <table mat-table [dataSource]="brandList" class="mat-elevation-z8">


    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>
         Title
       </th>
      <td mat-cell *matCellDef="let brand" class="title-cell"> 
          <div *ngIf="!brand.edit" class="d-flex">
             <p class="col-md-5">{{ brand.title }}</p>
          </div>
          <div *ngIf="brand.edit" class="">
            <mat-form-field appearance="outline" class="mat-no-padding">              
            <input matInput type="text" name="updateCat"  class="d-inline-block mr-2 title-cell" [(ngModel)]="brand.title">
            </mat-form-field>

                

            <div class="">
             
         
            </div>  

          </div>      
      </td>

    
    </ng-container>

    
    <ng-container matColumnDef="categories">
        <th mat-header-cell *matHeaderCellDef style="width: 400px"> Categories </th>
        <td mat-cell *matCellDef="let brand" class=""> 

            <div *ngIf="brand.edit" class="categories-checkbox my-2">      
                <mat-checkbox #checkbox="matCheckbox" class="d-inline-block mx-2" *ngFor="let cat of allCategories"                                 
                [(ngModel)]="userCategoriesSelected[cat.categoryId]" [disabled]="catsCheckBoxDisabled">{{cat.title}}</mat-checkbox>          
            </div>

            <div *ngIf="!brand.edit">
                <ng-container *ngIf="allCategories.length">
                    <span *ngFor="let category of getCategoriesTitlesOfABrand(brand.brandId)"> {{ category }}  </span>         
                </ng-container>
                
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let brand" class=""> 

        <div *ngIf="!brand.edit" class="">
          <button mat-raised-button class="mr-3" (click)="update(brand);getCategoriesOfBrand(brand.brandId)"><mat-icon>edit</mat-icon> </button>
          
          <button mat-raised-button (click)="delete(brand)" color="accent"><mat-icon>delete_outline</mat-icon> </button> 
        </div>

        <div *ngIf="brand.edit" class="">   
            
 

          <button mat-raised-button class="mr-3" color="primary" (click)="editSave(brand)"> <mat-icon>save</mat-icon></button>
          <button mat-raised-button color="basic" (click)="editCancel(brand)"> <mat-icon>cancel</mat-icon> </button>
        </div>      
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

