
html  { height: 100%; margin: 0;  }
body { 
    height: 100%;
    margin: 0; 
    font-family: 'Abel', sans-serif !important;
    font-size: 1rem!important; 
}

td{
    font-size: 1.1rem!important;
}

p {
    font-family: 'Abel', sans-serif !important;
    font-weight: 500;
    font-size: 1.2rem;
}
a {
    font-family: 'Baloo Thambi 2'!important;
    font-size: 1.2rem;
}

.btn {
    font-family: 'Baloo Thambi 2'!important;
    color: white !important;
    font-size: 1.2rem;
}

